/* Header */
*{
padding: 0;
margin: 0%;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
.header-link{
  background-color: black;
  color: rgb(5, 105, 35);
  padding: 10px 0;
}

header{
margin-bottom: 20px;
}

.nav-link{
float: right;
margin : 2px;
margin-right: 4px;
}

nav ul li{
display: inline-block;
line-height: 6px;
margin: 0 5px;
}
nav ul li a{
color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}

a.active,a:hover{
text-decoration: none;
background: blue;
transition: 0.5s;
}

div.logo{
line-height: 1px;
margin-top: -1.5rem;
float: left;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin: 0 auto;
  max-width: 100%;
  min-height: 25em;
  align-items: start;
  padding: 0;
}

.card-grid{
display: grid;
row-gap: 1.5rem;
}


.Main-title{
  font-size: 25px;
  font-weight: bold;
  margin: 1rem;
  color: green;
}


.site-header{
  background:radial-gradient(circle at top left, rgb(248, 204, 7), transparent 55%),
  radial-gradient(circle at bottom right, rgb(1, 52, 29), transparent 75%);
  color: white;
  padding: 2rem;
}

.logo{
  width: 1rem;
  height: 1px;
}
.logo-big{
  width: 2rem;
  height: 2px;
}

.menu-icon{
display: none;
}
.menu-icon i{
color: white;
font-size: 30px;
}
@media(max-width: 767px){
nav ul{
display: grid;
position: absolute;
top: 70px;
left: 0;
right: 0;
flex-direction: column;
align-items: center;
text-align: center;
background: #004274;
gap: 0;
overflow: hidden;
z-index: 1000;
max-height: 0;
transition: max-height 0.3s ease;
}
nav ul li{
padding: 20px;

}

.menu-icon{
display: block;
cursor: pointer;
}
#menuList {
max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
}
body{
background-color: white;
height: auto;

}

/*About*/
#keys{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
padding:25px;
}

#calculator{

font-family: Arial,sans-serif;
background-color: hsl(0, 0%, 15%);
border-radius: 15px;
max-width: 500px;
overflow: hidden;
}

#display{
width: 100%;
padding: 20px;
font-size: 5rem;
text-align: left;
border: none;
background-color: hsl(0, 0%,  20%);
color: white;
}
button{
width: 100px;
height: 100px;
border-radius: 50px;
border: none;
background-color: hsl(0, 0%, 30%);
color: white;
font-size: 3rem;
font-weight: bold;
cursor: pointer;
}
button:hover{
background-color: hsl(0, 0%, 40%);
}

button:active{
background-color: hsl(0, 0%, 50%);
}

.operator{
background-color: hsl(36, 100%, 54%);
}
.operator: hover{
background-color: hsl(36, 100%, 63%);
}
.operator:active{
background-color: hsl(36, 100%, 74%);
}