
/* Header */
*{
padding: 0;
margin: 0%;
text-decoration: none;
list-style: none
}
.header-link{
  background-color: black;
  color: rgb(5, 105, 35);
  padding: 10px 0;
}

.nav-link{
float: right;
margin-right: 15px;
}

nav ul li{
display: inline-block;
line-height: 10px;
margin: 0 2px;
}
nav ul li a{
color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px
text-transform: uppercase;
}

a.active,a:hover{
decoration: none;
background: blue;
transition: .5s;
}

div.logo{
line-height: 15px;
padding: 20 10px
float: left;
}

.container{
display: grid;
place-items: center;
margin-inline: 1rem;
padding-block: 0;
float: center;

}

.card-grid{
display: grid;
row-gap: 3.5;
}


.Main-title{
  font-size: 25px;
  font-weight: bold;
  margin: 1;
  color: green;
}


.site-header{
  background:radial-gradient(circle at top left, rgb(248, 204, 7), transparent 55%),
  radial-gradient(circle at bottom right, rgb(1, 52, 29), transparent 75%);
  color: white;
  padding: 2rem;
}

.logo{
  width: 8rem;
  height: auto;
}
.logo-big{
  width: 12rem;
  height: auto;
}

/* Body main*/
.card{
  display: block;
  margin: 20px; 
  width: 19rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top{
  display: block;
border-top-left-radius: 0.5rem;
border-top-right-radius: 0.5rem;
height: 10rem;
width: 19rem;
}

.card-body{
  display:block;
padding: 25px;
margin: -10px;
}
.card-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-text{
  color: #555;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

.card__button{
text-decoration: none;
font-size: var(--small-font-size);
font-weight: 500;
color: var(--first-color);
}

.card__button:hover{
text-decoration: underline;
background: white;
}

.row{
  display:flex;
  flex-wrap: wrap;
}
@media (min-width: 768px){
  .col-md-3{
    flex: 0 0 auto;
  }
}

/*Home Page*/

#Engineering{
width: 19rem;
height: 27rem;
border-radius: 1.2rem;
}

#Training{
width: 19rem;
height: 27rem;
border-radius: 1.2rem;
}


#Refresh{
width: 19rem;
height: 27rem;
border-radius: 1.2rem;
font-size: 13px;
font-family: Arial, sans-serif;
}

#Farming{
width: 19rem;
height: 27rem;
border-radius: 1.2rem;
}



/* Engineering Page */
#ENG{
display: grid;
padding-inline: 1rem;
box-shadow: none;
max-width:5000px;
overflow: hidden;
margin-line: 1 rem;
padding-block: 0;
place-items: center;
float: center;
}
#ima{
display: flex;
width:1400px;
height: 19rem;
}
#ima2{
display: flex;
width:1400px;
height: 19rem;
}
#ima3{
display: flex;
width:1400px;
height: 19rem;
}
.c_body{
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 20px;
}

.c_text p{
margin-top: 10px;
margin-bottom: 20px;
font-family: calibre;
font-size: 12px;
}
.c__title{
margin-top: 0;
margin-bottom: 8px;
font-size: 24px;
}
.image{
width: 19rem;
height:19rem;
border-radius: 0.5rem;
object-fit: cover:
}

.img-fluid{

}

/* Refreshco Page*/
#Ref{
display: flex;
margin-top: 0px;
padding-line: 1px;
}

.c_title {
text-decoration: bold;
}

.square{
display: block;
height: 23.3rem;
width: 15rem;
border-radius: 0.7rem;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.image2{
width: 15rem;
height: 15rem;
object-fit: cover;
border-radius: 0.8rem;
border-bottom-left-radius: 0.2rem;
border-bottom-right-radius: 0.2rem;
}
.s_btn{
text-decoration: none;
decoration: none;
background: light-grey;
margin-top: 70px;
margin-bottom: 0;
margin-inline: 4px;
float: right;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}